Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Right
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: WebKit
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: true
InsertNewlineAtEOF: true
PackConstructorInitializers: Never
QualifierAlignment: Left
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true
