.DS_Store
*.elf
*.nds
*.dsi
*.3dsx
*.cia
*.smdh
*.png
*.jpg
*.gif
*.exe
*.zip
*.bin
*.header
*.bcmdl
*.bnr
*.bcwav
*.cxi
*.cbmd
*.lz
*.icn
*0000000
*license.txt
__pycache__
dist
build
bannertool*
makerom*
venv
out/*
in/*
