html,
body {
    height: 100vh;
}

html,
body {
    overflow: hidden;
}


:root {
    --window-bar-close-button-hover-color: red;
    --window-bar-close-button-click-color: rgb(197, 0, 0);
    --window-bar-background-color: var(--dark, rgb(17, 17, 17)) var(--light, rgb(255, 255, 255));
    --window-bar-button-hover-color: var(--dark, #262626) var(--light, #E8E8E8);
    --window-bar-button-click-color: var(--dark, #353535) var(--light, #cacaca);
    --window-bar-button-width: 48px;
    --window-bar-height: 32px;
    --resize-bar-size: 5px;
    --resize-corner-size: 16px;
    --border-color: var(--dark, #333333) var(--light, #8a8a8a);
}

.visible-darkmode {
    display: var(--dark, initial) var(--light, none);
}

.visible-lightmode {
    display: var(--dark, none) var(--light, initial);
}

.resize-bar-hor {
    width: 100%;
    height: var(--resize-bar-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resize-bar-hor-bottom {
    position: absolute;
    bottom: 0%;
}

.resize-bar-hor-center {
    width: 100%;
    height: 100%;
}

.resize-bar-hor-corner {
    width: var(--resize-corner-size);
    height: 100%;
}

.resize-bar-ver {
    width: var(--resize-bar-size);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resize-bar-ver-center {
    width: 100%;
    height: 100%;
}

.resize-bar-ver-corner {
    width: 100%;
    height: var(--resize-corner-size);
}

.window-edge-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--border-color);
}

.window-edge-left {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--border-color);
}

.window-edge-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--border-color);
}

.window-edge-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-color);
}

#windowBarContainer {
    height: var(--window-bar-height);
    width: 100%;
    background-color: var(--window-bar-background-color);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/*#windowBarContainer>div>div {
    border: 1px solid rgb(255, 0, 255);
}

#windowBarContainer>div>div>div {
    border: 1px solid rgb(255, 0, 255);
}*/

#windowBarLeftResizeContainer {
    width: var(--resize-bar-size);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#windowBarLeftCornerResize {
    height: var(--resize-corner-size);
    width: 100%;
}

#windowBarLeftResize {
    height: 100%;
    width: 100%;
}

#windowBarCenterContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#windowBarCenterResizeContainer {
    width: 100%;
    height: var(--resize-bar-size);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#windowBarCenterLeftResize {
    width: var(--resize-corner-size);
    height: var(--resize-bar-size);
}

#windowBarCenterTopResize {
    width: 100%;
    height: var(--resize-bar-size);
}

#windowBarCenter {
    width: 100%;
    height: 100%;
}

.window-bar-button-container {
    width: var(--window-bar-button-width);
    min-width: var(--window-bar-button-width);
    height: 100%;
    line-height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--window-bar-background-color);
}

.window-bar-button-container:hover {
    transition: 0.2s background-color;
}

.window-bar-button-container:not(#closeButtonContainer):hover {
    background-color: var(--window-bar-button-hover-color);
}

.window-bar-button-container:not(#closeButtonContainer):active {
    background-color: var(--window-bar-button-click-color);
}

.window-bar-button-resize {
    width: 100%;
    height: var(--resize-bar-size);
}

.window-bar-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

#closeButtonResizeTopContainer {
    width: 100%;
    height: var(--resize-bar-size);
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#closeButtonResizeTop {
    width: 100%;
    height: 100%;
}

#closeButtonResizeTopCorner {
    width: var(--resize-corner-size);
    height: 100%;
}

#closeButtonContainer2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#closeButtonResizeRightContainer {
    width: var(--resize-bar-size);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#closeButtonResizeRightCorner {
    width: var(--resize-bar-size);
    height: var(--resize-corner-size);
}

#closeButtonResizeRight {
    width: var(--resize-bar-size);
    height: 100%;
}

#closeButton {
    margin-bottom: 3px;
    margin-left: 3px;
}

#closeButtonContainer:hover {
    background-color: var(--window-bar-close-button-hover-color);
}

#closeButtonContainer:active {
    background-color: var(--window-bar-close-button-click-color);
}

div[data-webview-resize="l"],
div[data-webview-resize="r"] {
    cursor: ew-resize;
}

div[data-webview-resize="t"],
div[data-webview-resize="b"] {
    cursor: ns-resize;
}

div[data-webview-resize="tl"],
div[data-webview-resize="br"] {
    cursor: nwse-resize;
}

div[data-webview-resize="tr"],
div[data-webview-resize="bl"] {
    cursor: nesw-resize;
}

#window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#windowWorkspace {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.qlementine-icons--windows-unmaximize-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M9.8 4H5.27c.193-.334.479-.606.824-.782C6.522 3 7.082 3 8.204 3h1.6c1.12 0 1.68 0 2.11.218c.376.192.682.498.874.874c.218.428.218.988.218 2.11v1.6c0 1.12 0 1.68-.218 2.11a2 2 0 0 1-.782.824v-4.53c0-.577 0-.949-.024-1.23c-.022-.272-.06-.372-.085-.422a1 1 0 0 0-.437-.437c-.05-.025-.15-.063-.422-.085a17 17 0 0 0-1.23-.024z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3 8.2c0-1.12 0-1.68.218-2.11c.192-.376.498-.682.874-.874c.428-.218.988-.218 2.11-.218h1.6c1.12 0 1.68 0 2.11.218c.376.192.682.498.874.874c.218.428.218.988.218 2.11v1.6c0 1.12 0 1.68-.218 2.11a2 2 0 0 1-.874.874c-.428.218-.988.218-2.11.218h-1.6c-1.12 0-1.68 0-2.11-.218a2 2 0 0 1-.874-.874C3 11.482 3 10.922 3 9.8zM6.2 6h1.6c.577 0 .949 0 1.23.024c.272.022.372.06.422.085c.188.096.341.249.437.437c.025.05.063.15.085.422c.023.283.024.656.024 1.23v1.6c0 .577 0 .949-.024 1.23c-.022.272-.06.372-.085.422a1 1 0 0 1-.437.437c-.05.025-.15.063-.422.085c-.283.023-.656.024-1.23.024H6.2c-.577 0-.949 0-1.23-.024c-.272-.022-.372-.06-.422-.085a1 1 0 0 1-.437-.437c-.025-.05-.063-.15-.085-.422a17 17 0 0 1-.024-1.23v-1.6c0-.577 0-.949.024-1.23c.022-.272.06-.372.085-.422c.096-.188.249-.341.437-.437c.05-.025.15-.063.422-.085C5.253 6 5.626 6 6.2 6' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.qlementine-icons--windows-maximize-16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9.8 4H6.2c-.577 0-.949 0-1.23.024c-.272.022-.372.06-.422.085a1 1 0 0 0-.437.437c-.025.05-.063.15-.085.422c-.023.283-.024.656-.024 1.23v3.6c0 .577 0 .949.024 1.23c.022.272.06.372.085.422c.096.188.249.341.437.437c.05.025.15.063.422.085c.283.023.656.024 1.23.024h3.6c.577 0 .949 0 1.23-.024c.272-.022.372-.06.422-.085c.188-.096.341-.249.437-.437c.025-.05.063-.15.085-.422c.023-.283.024-.656.024-1.23v-3.6c0-.577 0-.949-.024-1.23c-.022-.272-.06-.372-.085-.422a1 1 0 0 0-.437-.437c-.05-.025-.15-.063-.422-.085C10.747 4 10.374 4 9.8 4m-6.58.092c-.218.428-.218.988-.218 2.11v3.6c0 1.12 0 1.68.218 2.11c.192.376.498.682.874.874c.428.218.988.218 2.11.218h3.6c1.12 0 1.68 0 2.11-.218c.376-.192.682-.498.874-.874c.218-.428.218-.988.218-2.11v-3.6c0-1.12 0-1.68-.218-2.11a2 2 0 0 0-.874-.874C11.486 3 10.926 3 9.804 3h-3.6c-1.12 0-1.68 0-2.11.218a2 2 0 0 0-.874.874' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}